.list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0;
}

.item {
  border: 1px solid darkgrey;
  border-radius: 8px;
  padding: 8px 16px;
  list-style-type: none;
  margin: 0;
}

.text {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
.author {
  font-weight: 600;
}
.rating {
  font-weight: 600;
}
