.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 600px;
  height: 400px;
}

.wrap {
  width: 600px;
  height: 400px;
  padding: 0;
}

.img {
  display: block;
  width: 600px;
  height: 380px;
  object-fit: cover;
  cursor: pointer;
}

.title {
  font-size: 16px;
  margin-top: 0;
  padding-left: 8px;
}

.link {
  text-decoration: none;
  font-size: 16px;
  color: grey;
}

.link:hover {
  color: black;
  font-weight: 700;
}
